.DS_Store
Thumbs.db
*.log

.idea/
*.iml
*.ipr
*.iws

target/
build/
!*/src/main/**/target/

*.env
*.env.*
application-local.properties
application-dev.properties
application-test.properties

node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js

docker/postgres/data/
docker/kafka/data/

.envrc
.vscode/
