spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  port: 8081

jwt:
  access-token-expiration-sec: 3600  # 1 hour
  refresh-token-exp-days: 30
